# Python FUnctions
## Build in functions in python

In [ ]:
x=[7,4,5,2,6,9]
print(x) #print is the function to display output

[7, 4, 5, 2, 6, 9]

In [2]:
type(x) #type is the function to check data type

list

In [3]:
len(x) #len is the function to check length of an object

6

In [4]:
min(x) #min is the function to get minimum value from an object

2

In [5]:
max(x) #max is the function to get maximum value from an object

9

In [6]:
sum(x) #sum is the function to get sum of all elements in an object

33

In [7]:
sorted(x) #sorted is the function to get sorted list from an object

[2, 4, 5, 6, 7, 9]

In [8]:
sorted(x,reverse=True) #sorted with reverse=True to get sorted list in descending order

[9, 7, 6, 5, 4, 2]

In [9]:
round(2.45686,2)   #round is the function to round off a floating point number to given decimal places

2.46

In [10]:
help(sorted) #help is the function to get documentation of a function

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

### User Defined Functions

#### Format 

    - def function_name(input arg1,input arg2,...);
        <function defination - operation>
        return <out_arg> , <out_arg2>

In [12]:
def myfun():
    print("This is my function")

In [13]:
myfun() #calling the function

This is my function

In [14]:
## With Parameters
def myfun2(a,b):
    c=a+b
    return c

In [18]:
myfun2(a=5,b=10) #calling function with parameters

15

In [19]:
myfun2(10,20) #calling function with positional arguments

30

In [ ]:
# We can call fucntion in same cell in jupyter notebook or in different cells
def myfun2(a,b):
    c=a+b
    return c
myfun2(b=10,a=25) #calling function with keyword arguments

35

In [21]:
myfun2(8) #calling function with missing argument (will give error)

TypeError: myfun2() missing 1 required positional argument: 'b'

### Default value for input argument - Optional Argument

In [22]:
def myfun3(a,b=5):
    c=a+b
    return c
myfun3(10) #calling function with one argument (b will take default value)

15

In [23]:
myfun3(6,7) #calling function with both arguments (b will take given value)

13

In [28]:
m=myfun3(6,2)
print(m) # Storing return value in variable and printing it
x=5     # As requested, no additional text is provided beyond the code snippet and return statement only return values after that any code then it not works then if need to work properly then store it in third variable and return that variable

8

In [29]:
# Function can also return multiple values
def myfun4(a,b):
    c=a+b
    d=a*b
    return c,d

In [31]:
myfun4(10,30) #calling function which returns multiple values

(40, 300)

In [34]:
x,y=myfun4(a=4,b=6) #storing multiple return values in different variables
print(x)
print(y)

10
24

In [36]:
z=myfun4(3,7) #storing multiple return values in a single variable
print(z) # it will be a tuple containing both return values

(10, 21)

#### A function with varialble number of arguments

In [38]:
def m1(a,b):
    c=a+b
    return c

In [39]:
m1(7,3)

10

In [40]:
m1(7,3,2)

TypeError: m1() takes 2 positional arguments but 3 were given

In [43]:
def m1(a,*b):
    print(a,type(a))
    print(b,type(b))

In [44]:
m1(5) #calling function with single argument

5 <class 'int'>
() <class 'tuple'>

In [45]:
m1(5,2) #calling function with multiple arguments

5 <class 'int'>
(2,) <class 'tuple'>

In [46]:
m1(5,2,4,7,8,9) #calling function with multiple arguments i.e.vaiable length arguments

5 <class 'int'>
(2, 4, 7, 8, 9) <class 'tuple'>

In [47]:
def m1(a,*b):
    c=a+sum(b)
    return c

In [48]:
m1(5,2,4,7,8,9)

35

#### Variable number of keyword arguments

In [ ]:
def fun1(a,**b): #function with variable length keyword arguments
    print(a,type(a)) #a is an integer
    print(b,type(b)) #b is a dictionary
    return None

In [56]:
fun1(12)

12 <class 'int'>
{} <class 'dict'>

In [ ]:
fun1(12,name="Ashish") #calling function with variable length keyword arguments

12 <class 'int'>
{'name': 'Ashish'} <class 'dict'>

In [58]:
fun1(12,name="John",age=30,city="New York",salary=50000)

12 <class 'int'>
{'name': 'John', 'age': 30, 'city': 'New York', 'salary': 50000} <class 'dict'>